<div class="container">
    <div class="headding">
        <a href="/" class="home-btn">Home</a>
    </div>
    <div class="article-section">
        <form action="/article" method="post">
            <input name="title" type="text" class="title" placeholder="Enter the title of the article"><br>
            <textarea name="content" class="article1" cols="30" rows="20" placeholder="Start writing your article"></textarea><br>
            <textarea name="additionalInfo" class="add-info" cols="30" rows="5" placeholder="Additiional information"></textarea>
            <button type="submit" class="submit-btn">Publish</button>
        </form>
        

    </div>
</div>