<div class="container">
    <div class="heading">
        <h1>Welcome to out blog page</h1>
        <button class="article-btn"><a type="button" href="/" >Home</a></button>
        
    </div>

    <div>
        <div class="show-title"><%= article.title %></div>
        <div class="show-content"><%= article.content %></div>
        <div class="show-info"><%= article.additionalInfo %></div>
    </div>
</div>